<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>My SemiTwist Web Framework based site</title>
<link rel="StyleSheet" href="{{{stylesheetFilename}}}" type="text/css" />
</head>
<body>

	<div id="page-header">
		<div id="header-body">
			<div id="header-title">
				<a href="{{{page-index}}}">My SemiTwist Web Framework based site</a>
			</div>
		</div>
	</div>
	
	<div id="page">
		<table>
		<tr>

		<td id="main-cell">
			<div id="main">
				
				{{#hasPageMessage}}
				<div id="page-message">
					{{{pageMessage}}}
				</div>
				{{/hasPageMessage}}
				
				<div id="page-body">
					{{{pageBody}}}
				</div>

			</div>
		</td>

		</tr>
		</table>
	</div>
	
	<div id="page-footer">
		<div id="footer-body">
			<div id="copyright">(copyright)</div>
		</div>
	</div>

</body>
</html>
